/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

html {
  color: gray;
  font-size: 2em;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(rgb(59, 3, 124), rgb(3, 4, 87))
  /* border: 2px solid red; */
}

img{
  display: block;
  margin: 0 auto;
  height: 300px;
}

table {
  margin: 20px auto;
}

table, th, td {
  border: 1px solid;
  background-color: white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
