/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  color: #3CBCC3;
  text-align: center;
  font-size: 2em;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  height: 150vh;
  background: linear-gradient(#1F3044, #0B4141);
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* border: 2px solid red; */
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
}

img{
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

table {
  margin: 20px auto;
}

table, th, td {
  border: 1px solid #F7F4E9;
  background-color: transparent;
  color: #F7F4E9;
  width: 1300px;
}

.search-button {
  margin: 20px auto;
}

.search-button > button {
  background-color:#c59c2d;
}

.main-image {
  margin: 20px auto;
}

.type-section {
  border: 1px solid #F7F4E9;
}

/* .list-box {
  border: 1px solid #F7F4E9;
} */

.type-list {
  font-size: 1.5rem;
  list-style-position: outside;
  text-align: left;
  width: 75%;
  /*Centers the list*/
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

a:link {
  color: white
}

a:hover {
  color: #3CBCC3
}

a:visited {
  color: #8d1427
}



/******************************************
/* MEDIA QUERIES
/*******************************************/